body {
    font-family:Lato,Helvetica Neue,Helvetica,Arial,"San-serif";
    background-color: rgba(100,100,150,0.1);
    margin-top: 75px;
    

}

/*link style*/
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}
/*link style*/


.center {
    text-align: center;
    color: rgba(60,0,0,0.6);
}

.text-big {
    font-size: 250%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 150px;
}

.hyper {
    color: rgba(60,0,0,0.6);
}
.cPar{
    color:rgba(0,0,60,0.6);
    margin : 0 auto;
    padding-left: 40px;
    padding-right: 30px;
     text-align: center;
}
.cH{
     text-align: center;
    color:rgba(0,60,60,0.6);
    text-align: center;
}